<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike store operation site</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="topbar">
        <img src="" width="80px" height="80px" alt="Log">
        <p> Bike store operation site </p>
        <div class="menu">
            <!-- path for flask api
                <a href="/">Home</a>
                <a href="/service1">service1</a>
                <a href="/service2">service2</a>
                <a href="/new">新增訂單</a>
                <a href="/delete">刪除訂單</a>
                <a href="/update">更新訂單</a>
                <a href="/update_order_item">更新訂單項目</a> 新增更新訂單項目的鏈接
            -->
            <a href="index.html">Home</a>
            <a href="crud.html">CRUD</a>
            <a href="dashboard.html">Dashboard</a>
            <a href="new.html">New Order</a>
            <a href="delete.html">Delete Order</a>
            <a href="update.html">Update Order</a>
            <a href="update_order_item.html">Update Order Item</a>
        </div>
        <div class="logreg-container">
            <div>
                <button class="log" onclick="window.location.href='login.html'">Login</button>
                <button class="reg" onclick="window.location.href='signup.html'">Sign up</button>
            </div>
        </div>
    </div>
    <div class="flex-main">
        <div class="main-text">
            <h1>temp</h1>
        </div>
        <div class="container">
            <div class="content">
                <h2>temp</h2>
                <li>item1</li>
                <li>item2</li>
            </div>
            <div class="vertical-line"></div>
            <div class="content">
                <h2>temp</h2>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </div>
        </div>
    </div>
    <div class="short-thick-line"></div>
    <div class="bottom-text">
        <p>© 2024 Abner Den</p>
    </div>
</body>

</html>